@model IEnumerable<RoomReservationApp.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="Rooms" asp-action="Index">Go to Rooms</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Soba
            </th>
            <th>
                Ime Stranke
            </th>
            <th>
                Telefonska #
            </th>
            <th>
                e-mail
            </th>
            <th>
                Od
            </th>
            <th>
                Do
            </th>
            <th>
                Št Noči
            </th>
            <th>
                Cena
            </th>
            <th>
                Komentarji
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
